Port 2222
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
PermitRootLogin yes
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PermitTTY yes
AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding no
ClientAliveInterval 30
ClientAliveCountMax 120
PrintMotd no
Subsystem sftp /nix/var/nix/profiles/default/libexec/sftp-server
PidFile /var/run/sshd.pid
